<section
  id='customers'
  class='flex flex-col px-4 md:py-16 gap-y-4 border-solid border-2 border-blue-300'
>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis accusantium
    eos reprehenderit quo tempore cupiditate architecto eveniet sed. Minus
    tempora enim iure recusandae accusamus adipisci consequatur possimus totam
    reprehenderit inventore voluptatibus aliquid, rerum aspernatur quibusdam
    sint consequuntur delectus provident odit. A voluptate quas perferendis,
    autem suscipit facilis vitae aperiam omnis!
  </p>
</section>
