<section
  id='customers'
  class='flex flex-col px-4 py-12 md:py-24 gap-y-4 dark:text-white dark:bg-principalDark'
>
  <h5 class='text-center text-md text-red-700 dark:text-white'>
    Marcas con las que hemos trabajado
  </h5>
  <h2 class='text-center text-lg md:font-semibold md:text-4xl'>
    Nuestro Impacto en Empresas
  </h2>

  <div
    class='grid grid-cols-5 gap-6 items-center justify-items-center md:px-14 md:py-12'
  >
    <img
      loading='lazy'
      class='max-h-28'
      src='/images/customers/zona.webp'
      alt='zona franca'
    />
    <img
      loading='lazy'
      class='max-h-28'
      src='/images/customers/sli.webp'
      alt='sli'
    />
    <img
      loading='lazy'
      class='max-h-28'
      src='/images/customers/columbia.webp'
      alt=''
    />
    <img
      loading='lazy'
      class='max-h-28'
      src='/images/customers/oster.webp'
      alt='oster'
    />
    <img
      loading='lazy'
      class='max-h-28'
      src='/images/customers/redelec.webp'
      alt='redelec'
    />
  </div>
</section>
