<section
  id='contact'
  class='flex flex-col justify-items-center dark:bg-gray-50 md:px-12 md:py-16 gap-y-2'
>
  <div
    class='flex flex-col text-center gap-y-12 px-8 py-20 bg-red-700 text-red-700 dark:text-white rounded-sm'
  >
    <h1 class='text-5xl'>¿Nos cuentas tu proyecto?</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis
      accusantium eos reprehenderit quo tempore cupiditate architecto eveniet
      sed. Minus tempora enim iure recusandae accusamus adipisci consequatur
      possimus totam reprehenderit inventore voluptatibus aliquid, rerum
      aspernatur quibusdam sint consequuntur delectus provident odit. A
      voluptate quas perferendis, autem suscipit facilis vitae aperiam omnis!
    </p>
  </div>

  <div class='flex flex-col items-center md:flex-row md:justify-between pt-12'>
    <img class='w-48' src='/images/logo.png' alt='Logical Sistemas' />

    <div class='flex flex-col font-thin pt-6 sm:pt-0'>
      <p><span>Sede principal:</span>Cali - Colombia</p>
      <p>
        <span>WhatsApp 1:</span>
        <a
          target='_blank'
          class='underline decoration-solid decoration-green-500 underline-offset-1'
          href='https://wa.link/9ifugt'>+57 3022813088</a
        >
      </p>
      <p>
        <span>WhatsApp 2:</span>
        <a
          target='_blank'
          class='underline decoration-solid decoration-green-500 underline-offset-1'
          href='https://walink.co/e6e766'>+57 3166801483</a
        >
      </p>
      <p><span>Email:</span> info@logicalsistemas.com</p>
    </div>
  </div>
</section>
