<section
  id='contact'
  class='flex flex-col justify-items-center dark:bg-gray-50 md:px-12 md:py-16 gap-y-2'
>
  <div
    class='flex flex-col text-center gap-y-4 px-4 py-12 md:gap-y-12 md:px-8 md:py-20 bg-red-700 text-red-700 dark:text-white rounded-sm'
  >
    <h1 class='text-2xl md:text-5xl'>¿Nos cuentas tu proyecto?</h1>
    <p class='text-sm font-thin md:text-xl'>
      En Logical Sistemas, cada proyecto es único y valioso. Estamos ansiosos por escuchar tu visión, tus desafíos y tus metas. Nuestro equipo está listo para colaborar contigo en la creación de soluciones a medida que impulsen tu éxito. Cuéntanos tu historia y descubre cómo podemos convertirla en una realidad digital impactante. Estamos aquí para transformar tus ideas en innovación tangible
    </p>
  </div>

  <div class='flex flex-col items-center md:flex-row md:justify-between md:pt-12'>
    <img class='w-48' src='/images/logo.png' alt='Logical Sistemas' />

    <div class='flex flex-col font-thin pt-4 pb-8 md:pt-6 sm:pt-0'>
      <p><span>Sede principal:</span>Cali - Colombia</p>
      <p>
        <span>WhatsApp 1:</span>
        <a
          target='_blank'
          class='underline decoration-solid decoration-green-500 underline-offset-1'
          href='https://wa.link/9ifugt'>+57 3022813088</a
        >
      </p>
      <p>
        <span>WhatsApp 2:</span>
        <a
          target='_blank'
          class='underline decoration-solid decoration-green-500 underline-offset-1'
          href='https://walink.co/e6e766'>+57 3166801483</a
        >
      </p>
      <p><span>Email:</span> info@logicalsistemas.com</p>
    </div>
  </div>
</section>
