---
import ContactButton from "../components/ContactButton.astro"
---
<header class='bg-hero-pattern md:bg-cover md:bg-center lg:h-[700px]'>
  <nav
    class='flex top-0 w-full px-6 py-4 md:z-50 md:fixed md:backdrop-blur-sm items-center md:px-12 max-md:flex-col md:flex-row sm:justify-center md:justify-between text-center bg-transparent md:py-4 text-white justify-items-center lg:text-lg'
  >
    <div class='flex max-md:flex-col text-principal dark:text-white'>
      <img
        class='object-scale-down h-14 md:pr-8'
        src='/images/logo.webp'
        alt='Logical Sistemas'
      />
      <ul class='flex max-md:flex-col space-x-3 lg:space-x-8 items-center'>
        <li><a href='/'>Inicio</a></li>
        <li><a href='#services'>Servicios</a></li>
        <li><a href='#solutions'>Soluciones</a></li>
        <li><a href='#customers'>Nuestros Clientes</a></li>
      </ul>
    </div>

    <ContactButton/>
  </nav>
  <div
    class='flex flex-col text-center md:text-start py-8 px-4 md:px-8 md:py-16 md:mx-24 sm:w-full gap-y-4 lg:ps-0 md:w-4/6 lg:w-7/12 text-white'
  >
    <p class="md:mt-20" >Transformando Ideas en Innovación Digital</p>

    <h1 class='text-4xl md:text-6xl text-principal/90 font-semibold'>
      Diseño y Desarrollo Web
    </h1>

    <p class='text-pretty md:text-xl md:max-w-3xl'>
      Exploramos el potencial ilimitado de la tecnología para crear experiencias
      únicas y transformadoras. <span class="font-bold">Nuestro enfoque va más allá del desarrollo
      convencional</span>, desafiando los límites digitales para moldear un futuro
      conectado. Descubre cómo damos vida a las visiones, creando oportunidades
      e impacto duradero en el mundo digital actual.
    </p>

    <div class='flex flex-col gap-4 pt-12 sm:flex-row'>
      <a
        href='#services'
        class='rounded-sm px-4 py-3 text-sm text-center font-normal bg-transparent border border-white'
        >Explora nuestros servicios</a
      >
      <a
        href='#contact'
        class='rounded-sm px-4 py-3 text-sm text-center font-normal bg-principal border border-principal'
        >Contacta con Nosotros</a
      >
    </div>
  </div>
</header>
