---
interface Props {
  title: string
}

const { title } = Astro.props
import { ViewTransitions } from "astro:transitions"
import Header from "../components/Header.astro"
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content='Ofrecemos servicios de desarrollo de aplicaciones personalizadas para satisfacer las necesidades de tu empresa. Contacta con nosotros para soluciones innovadoras y eficientes.'
    />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.icon' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class='container mx-auto'>
    <Header />
    <main></main>
  </body>
</html>
